<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home page</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  
  <link rel="stylesheet" href="/static/app.css">
  
</head>

<body>
  <h1>Weather Finder</h1>
 
  {%for msg in get_flashed_messages()%}
    <h3>{{msg}}</h3>
    {% endfor%}
  
  
  <nav class="navbar">
   
    
    <a href="/sign_up">Sign Up!</a>
    
    <a href="/log_in">Log In!</a>
    
    {% if session['user_id'] %}
    <a href="/log_out">Log Out!</a>
    {% else %}
  

    
    {% endif %}
  </nav>



   
  </body>

</html>