<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Document</title>
</head>



<body>
    {% extends 'Homepage.html' %}
    
    {% block content %}
    <h2 class="display-1">Basic infomation</h2>
    
    <table class="table table- striped">
      
    <thead class="thead-dark">
           <th>First Name</th>
           <th>Last Name</th>
           <th>Job Description</th>
           <th>Reason</th>
    </thead>
    
    <tbody>
            <tr>
               <td>{{first_name}}</td>
               <td>{{last_name}}</td>
               <td>{{job_description}}</td>
               <td>{{reason}}</td>
            </tr>
           
    </tbody>
      
       
       
<h3> <a href="/wheather_page">Find the weather</a> </h3>
{% endblock %}
</body>
</html>