<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/app.css"> 
</head>
<body>
 
  
  
  <h1>Weather Finder</h1>
 
   
    <h2 class="display-1">Sign Up!</h2>
    <p class="lead">Already have account. Log in? <a href="/log_in">Log In Here</a> </p>
    {%for msg in get_flashed_messages()%}
    <h3>{{msg}}</h3>
    {% endfor%}
  
  
    <form  method="Post">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
   
       <p>
         {{ field.label }}
         {{ field (class_="form-control") }}
   
         {% for error in field.errors %}
           {{ error }}
         {% endfor %}
       </p>
   
     {% endfor %}
   
     <button class="btn btn-success" type="submit">Submit</button>
    </form>
    

</body>
</html>