<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheather Page</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <nav class="navbar">
   
    
        <a href="/sign_up">Sign Up!</a>
        
        <a href="/log_in">Log In!</a>
        
        {% if session['user_id'] %}
        <a href="/log_out">Log Out!</a>
        {% else %}
      
    
        
        {% endif %}
      </nav>
    

    <section>
        <div>
            <div>
                <h1 class="title">
                    HOW IS THE Weather TO DAY!
                </h1>
               
            </div>
        </div>
    </section>
<section>
    <div>
        <div>
            <div>
                <form action="" method="POST">
                    <div>
                        <div>
                            <input type="text" name="city" placeholder="City Name">

                            </div>
                        <div class="">
                            <button>
                               ADD CITY
                            </button>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% set message_class = 'text-success' %}
                    {% if category == 'error' %}
                        {% set message_class = 'text-danger' %}
                    {% endif %}      
                    <div class="notification {{ message_class}}"> {{ message }}
                        
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <div>
                {% for weather in weather_data %}
                <div>
                    <article>
                        <div>
                            <figure>
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtiitle">{{ weather.temperature }}  F</span>
                                    <br> {{ weather.description }}
                                    
                                   </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{{ url_for('delete_city', name=weather.city)}}"><button class="delete"> Delete</button></a>
                        </div>
                    </article>
                   </div>
                {% endfor %}    
            </div>
        </div>
    </div>
</section>


</body>
</html>